{% extends "_base.html" %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <h1>Welcome to the Parking App!</h1>
        <p class="tagline">Find available parking spaces quickly and easily.</p>
        <div class="button-container">
            <a href="{{ url_for('core.park1') }}" class="button">Parking Area 1</a>
            <a href="{{ url_for('core.park2') }}" class="button">Parking Area 2</a>
        </div>
<!--         <div>
            <p>Empty Spaces: {{ empty }}</p>
            <img src="data:image/jpeg;base64,{{ img_enc }}" alt="Parking Spaces">
        </div> -->
    </div>
</div>
{% endblock %}
