{% extends "_base.html" %}

{% block content %}
<div class="parking-page">
  <div class="parking-content">
    <h1>{{ parking_area.name }}</h1>
    <p class="available-spaces{% if parking_area.free_spaces > 5 %} green{% endif %}">Available Spaces: {{ parking_area.free_spaces }}</p>
    <div class="map-container">
      {{ parking_area.map_link | safe}}
    </div>
    <a href="{{ url_for('core.reserve', parking_area_id=parking_area.id) }}" class="reserve-button">Reserve</a>
  </div>
</div>
{% endblock %}
