{% extends "_base.html" %}

{% block content %}
<div class="parking-page">
    <div class="parking-content">
        <h1>{{ name }}</h1>
        <p class="available-spaces{% if available_spaces_park > 5 %} green{% endif %}">Available Spaces: {{ available_spaces_park }}</p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.790461299106!2d30.955371275226817!3d29.95670522272304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458569393ca36ab%3A0xc1f1038e9a84b7a4!2sMSA!5e0!3m2!1sen!2seg!4v1686170607737!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <a href="{{ url_for('core.reserve', parking_area_id=parking_area_id) }}" class="reserve-button">Reserve</a>
        </div>
</div>
{% endblock %}

