{% extends "_base.html" %}

{% block content %}
<div>
    <div>
        <h1>Reservation Confirmation</h1>
        <p>Are you sure you want to reserve a parking spot at {{ name }}?</p>
        <div>
            <form method="POST" action="{{ url_for('core.reserve_confirm', parking_area_id=parking_area_id) }}">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a href="{{ url_for('core.home') }}" class="btn btn-secondary">No</a>
            </form>     
        </div>
    </div>
</div>
{% endblock %}
